<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>{% block title %}Fruitkha{% endblock %}</title>
	<!-- đường dẫn mẫu: {{ url_for('static', filename='') }} -->
	<!-- favicon --> 
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/all.min.css') }}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.css') }}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}">
	<!-- animate css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}">
	<!-- main style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
	<!-- responsive -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/shop.css') }}">
    
    {% block extra_css %}{% endblock %}
</head>

<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{{ url_for('index') }}">
								<img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{{ url_for('index') }}">Trang Chủ</a>
									
								</li>
								<li><a href="about.html">About</a></li>
								<li><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="404.html">404 page</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<!-- Trong phần <nav class="main-menu"> -->
										<li><a href="{{ url_for('news') }}">News</a></li>
										<li><a href="{{ url_for('shop') }}">Shop</a></li>
									</ul>
								</li>
								<!-- Trong phần menu của layout.html, thay đổi liên kết "Tin Tức" -->
								<li><a href="{{ url_for('news') }}">Tin Tức</a>
    								<ul class="sub-menu">
        							<li><a href="{{ url_for('news') }}">Tin Tức</a></li>
        							<li><a href="single-news.html">Bài Viết Chi Tiết</a></li>
    								</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="{{ url_for('shop') }}">Shop</a>
									<ul class="sub-menu">
										<li><a href="{{ url_for('shop') }}">Shop</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="single-product.html">Single Product</a></li>
										<li><a href="cart.html">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<div class="user-profile">
											{% if username %}
												<div class="user-dropdown">
													<div class="user-info">
														<img src="{{ url_for('static', filename='assets/img/avaters/avatar2.png') }}" alt="User Avatar" class="user-avatar">
														<span class="username">Hi, {{ username }}</span>
														<i class="fas fa-angle-down"></i>
													</div>
													<div class="dropdown-menu">
														<a href="/profile"><i class="fas fa-user"></i> Tài khoản</a>
														<a href="{{ url_for('history') }}"><i class="fas fa-history"></i> Lịch sử nhận diện</a>
														<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
													</div>
												</div>
											{% else %}
												<a href="{{ url_for('login') }}" class="login-btn">Đăng nhập</a>
											{% endif %}
										</div>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

    <!-- Content block -->
    {% block content %}{% endblock %}
    <!-- End content block -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{{ url_for('static', filename='assets/img/company-logos/1.png') }}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{{ url_for('static', filename='assets/img/company-logos/2.png') }}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{{ url_for('static', filename='assets/img/company-logos/3.png') }}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{{ url_for('static', filename='assets/img/company-logos/4.png') }}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{{ url_for('static', filename='assets/img/company-logos/5.png') }}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{{ url_for('static', filename='assets/js/jquery-1.11.3.min.js')}}"></script>
	<!-- bootstrap -->
	<script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- count down -->
	<script src="{{ url_for('static', filename='assets/js/jquery.countdown.js') }}"></script>
	<!-- isotope -->
	<script src="{{ url_for('static', filename='assets/js/jquery.isotope-3.0.6.min.js') }}"></script>
	<!-- waypoints -->
	<script src="{{ url_for('static', filename='assets/js/waypoints.js') }}"></script>
	<!-- owl carousel -->
	<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
	<!-- magnific popup -->
	<script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
	<!-- mean menu -->
	<script src="{{ url_for('static', filename='assets/js/jquery.meanmenu.min.js') }}"></script>
	<!-- sticker js -->
	<script src="{{ url_for('static', filename='assets/js/sticker.js') }}"></script>
	<!-- main js -->
	<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
    
    {% block extra_js %}{% endblock %}

</body>
</html>